<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ah.petrolmanagement.persistence.ICategoryMapper">
	<select id="select" resultType="ah.petrolmanagement.entity.CategoryEntity">
		SELECT
			ID						AS id,
			CATEGORY_NAME	AS categoryName,
			INS_TIME			AS insTime,
			INS_USER			AS insUser,
			UPD_TIME			AS updTime,
			UPD_USER			AS updUser,
			DEL_FLAG			AS delFlag,
			DEL_TIME			AS delTime,
			DEL_USER			AS delUser
		FROM
			category
		WHERE
			DEL_FLAG = 0
		ORDER BY
			ID
	</select>

	<insert id="save" parameterType="ah.petrolmanagement.entity.CategoryEntity" useGeneratedKeys="true" keyProperty="entity.id">
		INSERT INTO category (
			CATEGORY_NAME,
			INS_USER
		) VALUES (
			#{entity.categoryName},
			#{entity.insUser}
		)
	</insert>

	<update id="update" parameterType="ah.petrolmanagement.entity.CategoryEntity">
		UPDATE category SET
			CATEGORY_NAME = #{entity.categoryName},
			UPD_TIME = CURRENT_TIMESTAMP,
			UPD_USER = #{entity.updUser}
		WHERE
			ID = #{entity.id}
	</update>

	<update id="delete" parameterType="ah.petrolmanagement.entity.CategoryEntity">
		UPDATE category SET
			DEL_FLAG = 1,
			DEL_TIME = CURRENT_TIMESTAMP,
			DEL_USER = #{entity.delUser}
		WHERE
			ID = #{entity.id}
	</update>
</mapper>