<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ah.petrolmanagement.persistence.ICategoryMapper">
	<select id="select" parameterType="java.util.Map" resultType="ah.petrolmanagement.entity.CategoryEntity">
		SELECT
			ID						AS id,
			CATEGORY_NAME	AS categoryName,
			INS_TIME			AS insTime,
			INS_USER			AS insUser,
			UPD_TIME			AS updTime,
			UPD_USER			AS updUser,
			DEL_FLAG			AS delFlag,
			DEL_TIME			AS delTime,
			DEL_USER			AS delUser
		FROM
			category
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="map.id != null">
				ID = #{map.id}
			</if>
			<if test="map.categoryName != null">
				AND CATEGORY_NAME LIKE '%' || #{map.categoryName} || '%'
			</if>
			<if test="map.delFlag == null">
				AND DEL_FLAG = 0
			</if>
		</trim>
		ORDER BY ID
	</select>

	<insert id="save" parameterType="ah.petrolmanagement.entity.CategoryEntity">
		INSERT INTO category (
			CATEGORY_NAME,
			INS_USER
		) VALUES (
			#{entity.categoryName},
			#{entity.insUser}
		)
	</insert>

	<update id="update" parameterType="ah.petrolmanagement.entity.CategoryEntity">
		UPDATE category
		<set>
			<if test="entity.categoryName != null">
				CATEGORY_NAME = #{entity.categoryName},
			</if>
			UPD_TIME = CURRENT_TIMESTAMP,
			UPD_USER = #{entity.updUser}
		</set>
		<where>
			ID = #{entity.id}
		</where>
	</update>

	<update id="delete" parameterType="ah.petrolmanagement.entity.CategoryEntity">
		UPDATE category
		<set>
			DEL_FLAG = 1,
			DEL_TIME = CURRENT_TIMESTAMP,
			DEL_USER = #{entity.delUser}
		</set>
		<where>
			ID = #{entity.id}
		</where>
	</update>
</mapper>