<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ah.petrolmanagement.persistence.IProductPriceMapper">
	<resultMap id="newestPriceResult" type="java.util.Map">
		<result column="ID" property="id" />
		<result column="PRODUCT_ID" property="productId" />
		<result column="PRODUCT_NAME" property="productName" />
		<result column="PRICE" property="price" />
		<result column="INS_TIME" property="insTime" />
	</resultMap>

	<select id="selectNewestPrice" parameterType="java.lang.Integer" resultMap="newestPriceResult">
		SELECT
			pp.ID,
			pp.PRODUCT_ID,
			p.PRODUCT_NAME,
			pp.PRICE,
			pp.INS_TIME
		FROM
			product_price pp
		INNER JOIN
			product p
				ON
					pp.PRODUCT_ID = p.ID
		WHERE
			p.CATEGORY_ID = #{categoryId}
				AND
					pp.INS_TIME <![CDATA[<]]> NOW()
				AND
					pp.UPD_TIME IS NULL
				AND
					p.DEL_FLAG = 0
		ORDER BY
			p.ID
	</select>

	<insert id="save" parameterType="ah.petrolmanagement.entity.ProductPriceEntity">
		INSERT INTO product_price (
			PRODUCT_ID,
			PRICE,
			INS_USER
		) VALUES (
			#{entity.productId},
			#{entity.price},
			#{entity.insUser}
		)
	</insert>

	<update id="update" parameterType="ah.petrolmanagement.entity.ProductPriceEntity">
		UPDATE product_price SET
			UPD_TIME = CURRENT_TIMESTAMP,
			UPD_USER = #{entity.updUser}
		WHERE
			ID = #{entity.id}
	</update>
</mapper>