<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ah.petrolmanagement.persistence.IProductMapper">
	<resultMap id="productResultByCategoryId" type="java.util.Map">
		<result column="ID" property="id" />
		<result column="CATEGORY_ID" property="categoryId" />
		<result column="PRODUCT_NAME" property="productName" />
		<result column="INS_TIME" property="insTime" />
		<result column="INS_USER" property="insUser" />
		<result column="UPD_TIME" property="updTime" />
		<result column="UPD_USER" property="updUser" />
		<result column="DEL_FLAG" property="delFlag" />
		<result column="DEL_TIME" property="delTime" />
		<result column="DEL_USER" property="delUser" />
		<result column="PRICE_ID" property="priceId" />
		<result column="PRICE" property="price" />
		<result column="PRICE_NEWEST" property="priceNewest" />
	</resultMap>

	<select id="selectByCategoryId" parameterType="java.lang.Integer" resultMap="productResultByCategoryId">
		SELECT
			p.ID,
			p.CATEGORY_ID,
			p.PRODUCT_NAME,
			p.INS_TIME,
			p.INS_USER,
			p.UPD_TIME,
			p.UPD_USER,
			p.DEL_FLAG,
			p.DEL_TIME,
			p.DEL_USER,
			pp.ID				AS PRICE_ID,
			pp.PRICE,
			pp.INS_TIME	AS PRICE_NEWEST
		FROM
			product p
		INNER JOIN
			product_price pp
				ON
					p.ID = pp.PRODUCT_ID
		WHERE
			p.CATEGORY_ID = #{categoryId}
				AND
					pp.INS_TIME <![CDATA[<]]> NOW()
				AND
					pp.UPD_TIME IS NULL
				AND
					p.DEL_FLAG = 0
		ORDER BY
			p.ID
	</select>

	<insert id="save" parameterType="ah.petrolmanagement.entity.ProductEntity" useGeneratedKeys="true" keyProperty="entity.id">
		INSERT INTO product (
			CATEGORY_ID,
			PRODUCT_NAME,
			INS_USER
		) VALUES (
			#{entity.categoryId},
			#{entity.productName},
			#{entity.insUser}
		)
	</insert>

	<update id="update" parameterType="ah.petrolmanagement.entity.ProductEntity">
		UPDATE product SET
			<if test="entity.categoryId != null">
				CATEGORY_ID = #{entity.categoryId},
			</if>
			<if test="entity.productName != null">
				PRODUCT_NAME = #{entity.productName},
			</if>
			UPD_TIME = CURRENT_TIMESTAMP,
			UPD_USER = #{entity.updUser}
		WHERE
			ID = #{entity.id}
	</update>

	<update id="delete" parameterType="ah.petrolmanagement.entity.ProductEntity">
		UPDATE product SET
			DEL_FLAG = 1,
			DEL_TIME = CURRENT_TIMESTAMP,
			DEL_USER = #{entity.delUser}
		WHERE
			ID = #{entity.id}
	</update>
</mapper>