<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ah.petrolmanagement.persistence.IProductMapper">
	<select id="select" parameterType="java.util.Map" resultType="ah.petrolmanagement.entity.ProductEntity">
		SELECT
			ID						AS id,
			CATEGORY_ID		AS categoryId,
			PRODUCT_NAME	AS productName,
			INS_TIME			AS insTime,
			INS_USER			AS insUser,
			UPD_TIME			AS updTime,
			UPD_USER			AS updUser,
			DEL_FLAG			AS delFlag,
			DEL_TIME			AS delTime,
			DEL_USER			AS delUser
		FROM
			product
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="map.id != null">
				ID = #{map.id}
			</if>
			<if test="map.categoryId != null">
				AND CATEGORY_ID = #{map.categoryId}
			</if>
			<if test="map.productName != null">
				AND PRODUCT_NAME LIKE '%' || #{map.productName} || '%'
			</if>
			<if test="map.delFlag == null">
				AND DEL_FLAG = 0
			</if>
		</trim>
		ORDER BY ID
	</select>

	<insert id="save" parameterType="ah.petrolmanagement.entity.ProductEntity">
		INSERT INTO product (
			CATEGORY_ID,
			PRODUCT_NAME,
			INS_USER
		) VALUES (
			#{entity.categoryId},
			#{entity.productName},
			#{entity.insUser}
		)
	</insert>

	<update id="update" parameterType="ah.petrolmanagement.entity.ProductEntity">
		UPDATE product
		<set>
			<if test="entity.categoryId != null">
				CATEGORY_ID = #{entity.categoryId},
			</if>
			<if test="entity.productName != null">
				PRODUCT_NAME = #{entity.productName},
			</if>
			UPD_TIME = CURRENT_TIMESTAMP,
			UPD_USER = #{entity.updUser}
		</set>
		<where>
			ID = #{entity.id}
		</where>
	</update>

	<update id="delete" parameterType="ah.petrolmanagement.entity.ProductEntity">
		UPDATE product
		<set>
			DEL_FLAG = 1,
			DEL_TIME = CURRENT_TIMESTAMP,
			DEL_USER = #{entity.delUser}
		</set>
		<where>
			ID = #{entity.id}
		</where>
	</update>
</mapper>