<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ah.petrolmanagement.persistence.IShiftMapper">
	<select id="select" parameterType="java.util.Map" resultType="ah.petrolmanagement.entity.ShiftEntity">
		SELECT
			ID					AS id,
			SHIFT_CODE	AS shiftCode,
			SHIFT_NAME	AS shiftName,
			USERNAME		AS username,
			INS_TIME		AS insTime,
			INS_USER		AS insUser,
			UPD_TIME		AS updTime,
			UPD_USER		AS updUser,
			DEL_FLAG		AS delFlag,
			DEL_TIME		AS delTime,
			DEL_USER		AS delUser
		FROM
			shift
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="map.id != null">
				ID = #{map.id}
			</if>
			<if test="map.shiftCode != null">
				AND SHIFT_CODE = #{map.shiftCode}
			</if>
			<if test="map.shiftName != null">
				AND SHIFT_NAME LIKE '%' || #{map.shiftName} || '%'
			</if>
			<if test="map.username != null">
				AND USERNAME = #{map.username}
			</if>
			<if test="map.delFlag == null">
				AND DEL_FLAG = 0
			</if>
		</trim>
	</select>

	<insert id="save" parameterType="ah.petrolmanagement.entity.ShiftEntity">
		INSERT INTO shift (
			SHIFT_CODE,
			SHIFT_NAME,
			USERNAME,
			INS_USER
		) VALUES (
			#{entity.shiftCode},
			#{entity.shiftName},
			#{entity.username},
			#{entity.insUser}
		)
	</insert>

	<update id="update" parameterType="ah.petrolmanagement.entity.ShiftEntity">
		UPDATE shift
		<set>
			<if test="entity.shiftCode != null">
				SHIFT_CODE = #{entity.shiftCode},
			</if>
			<if test="entity.shiftName != null">
				SHIFT_NAME = #{entity.shiftName},
			</if>
			<if test="entity.username != null">
				USERNAME = #{entity.username},
			</if>
			UPD_TIME = CURRENT_TIMESTAMP,
			UPD_USER = #{entity.updUser}
		</set>
		<where>
			ID = #{entity.id}
		</where>
	</update>

	<update id="delete" parameterType="ah.petrolmanagement.entity.ShiftEntity">
		UPDATE shift
		<set>
			DEL_FLAG = 1,
			DEL_TIME = CURRENT_TIMESTAMP,
			DEL_USER = #{entity.delUser}
		</set>
		<where>
			ID = #{entity.id}
		</where>
	</update>
</mapper>