<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ah.petrolmanagement.persistence.IUserMapper">
	<select id="select" parameterType="java.util.Map" resultType="ah.petrolmanagement.entity.UserEntity">
		SELECT
			USERNAME	AS username,
			PASSWORD	AS password,
			FIRSTNAME	AS firstname,
			LASTNAME	AS lastname,
			BIRTHDAY	AS birthday,
			PHONE			AS phone,
			INS_TIME	AS insTime,
			INS_USER	AS insUser,
			UPD_TIME	AS updTime,
			UPD_USER	AS updUser,
			DEL_FLAG	AS delFlag,
			DEL_TIME	AS delTime,
			DEL_USER	AS delUser
		FROM
			users
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="map.username != null">
				USERNAME = #{map.username}
			</if>
			<if test="map.delFlag == null">
				AND DEL_FLAG = 0
			</if>
		</trim>
	</select>

	<insert id="save" parameterType="ah.petrolmanagement.entity.UserEntity">
		INSERT INTO users (
			USERNAME,
			PASSWORD,
			FIRSTNAME,
			LASTNAME,
			BIRTHDAY,
			PHONE,
			INS_USER
		) VALUES (
			#{entity.username},
			#{entity.password},
			#{entity.firstname},
			#{entity.lastname},
			#{entity.birthday},
			#{entity.phone},
			#{entity.insUser}
		)
	</insert>

	<update id="update" parameterType="ah.petrolmanagement.entity.UserEntity">
		UPDATE users
		<set>
			<if test="entity.password != null">
				PASSWORD = #{entity.password},
			</if>
			<if test="entity.firstname != null">
				FIRSTNAME = #{entity.firstname},
			</if>
			<if test="entity.lastname != null">
				LASTNAME = #{entity.lastname},
			</if>
			<if test="entity.birthday != null">
				BIRTHDAY = #{entity.birthday},
			</if>
			<if test="entity.phone != null">
				PHONE = #{entity.phone},
			</if>
			UPD_TIME = CURRENT_TIMESTAMP,
			UPD_USER = #{entity.updUser}
		</set>
		<where>
			USERNAME = #{entity.username}
		</where>
	</update>

	<update id="delete" parameterType="ah.petrolmanagement.entity.UserEntity">
		UPDATE users
		<set>
			DEL_FLAG = 1,
			DEL_TIME = CURRENT_TIMESTAMP,
			DEL_USER = #{entity.delUser}
		</set>
		<where>
			USERNAME = #{entity.username}
		</where>
	</update>
</mapper>