<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ah.petrolmanagement.persistence.IUserMapper">
	<resultMap id="userLoginResult" type="java.util.Map">
		<result column="USERNAME" property="username" />
		<result column="PASSWORD" property="password" />
		<result column="FIRSTNAME" property="firstname" />
		<result column="LASTNAME" property="lastname" />
		<result column="BIRTHDAY" property="birthday" />
		<result column="PHONE" property="phone" />
		<result column="INS_TIME" property="insTime" />
		<result column="INS_USER" property="insUser" />
		<result column="UPD_TIME" property="updTime" />
		<result column="UPD_USER" property="updUser" />
		<result column="DEL_FLAG" property="delFlag" />
		<result column="DEL_TIME" property="delTime" />
		<result column="DEL_USER" property="delUser" />
		<association property="role" javaType="java.lang.String">
			<result column="ROLE" property="role" />
		</association>
	</resultMap>

	<select id="login" parameterType="java.lang.String" resultMap="userLoginResult">
		SELECT
			u.USERNAME,
			u.PASSWORD,
			u.FIRSTNAME,
			u.LASTNAME,
			u.BIRTHDAY,
			u.PHONE,
			u.INS_TIME,
			u.INS_USER,
			u.UPD_TIME,
			u.UPD_USER,
			u.DEL_FLAG,
			u.DEL_TIME,
			u.DEL_USER,
			r.ROLE
		FROM
			users u
		INNER JOIN
			role r
				ON
					u.USERNAME = r.USERNAME
		WHERE
			u.USERNAME = #{username}
				AND
					u.DEL_FLAG = 0
	</select>

	<insert id="save" parameterType="ah.petrolmanagement.entity.UserEntity">
		INSERT INTO users (
			USERNAME,
			PASSWORD,
			FIRSTNAME,
			LASTNAME,
			BIRTHDAY,
			PHONE,
			INS_USER
		) VALUES (
			#{entity.username},
			#{entity.password},
			#{entity.firstname},
			#{entity.lastname},
			#{entity.birthday},
			#{entity.phone},
			#{entity.insUser}
		)
	</insert>

	<update id="update" parameterType="ah.petrolmanagement.entity.UserEntity">
		UPDATE users SET
			<if test="entity.password != null">
				PASSWORD = #{entity.password},
			</if>
			<if test="entity.firstname != null">
				FIRSTNAME = #{entity.firstname},
			</if>
			<if test="entity.lastname != null">
				LASTNAME = #{entity.lastname},
			</if>
			<if test="entity.birthday != null">
				BIRTHDAY = #{entity.birthday},
			</if>
			<if test="entity.phone != null">
				PHONE = #{entity.phone},
			</if>
			UPD_TIME = CURRENT_TIMESTAMP,
			UPD_USER = #{entity.updUser}
		WHERE
			USERNAME = #{entity.username}
	</update>

	<update id="delete" parameterType="ah.petrolmanagement.entity.UserEntity">
		UPDATE users SET
			DEL_FLAG = 1,
			DEL_TIME = CURRENT_TIMESTAMP,
			DEL_USER = #{entity.delUser}
		WHERE
			USERNAME = #{entity.username}
	</update>
</mapper>